h1{
    align-content: center;

}

body{
    background-image: url("cool-background.jpg");
    
}

.about{
    color: seashell;
}




.blog{
    background-color: blue;
}

.column {
    float: left;
    width: 33.33%;
    background-origin: padding-box;
    color: seashell;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-main {
    float: left;
    width: 50.00%;
  }
  
  /* Clear floats after the columns */
  .row-main:after {
    content: "";
    display: table;
    clear: both;
  }

  .column-contact {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row-contact:after {
    content: "";
    display: table;
    clear: both;
  }

  .name{
      font-size: 30px;
  }

  .links{
      font-size: 30px;
      color: seashell;
      
  }

  .sticky{
  
    background-origin: padding-box;
    
    outline-style: groove;
    position: sticky;
    margin: -50px, 20px;
    top: 0;
 }

 .headshot{
     border-radius: 50.00%;
     padding-top: 10px;
     
 }
 
 .info{
     color: seashell;
     font-size: 20px;
     padding-top: 20px;
 }

 .row-images {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column-images {
    flex: 33.33%;
    max-width: 33.33%;
    padding: 0 4px;
  }
  
  .column-images img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



